.fondBleu{
    background-color: blue;
    border:solid;
}
.bandeauGraphic{
    background-image: url(../img/background.jpg);
    width: 100%;
    height: 200px;
    vertical-align: center;
}
.gauche{
    float:left;
    height: 300px;
    width: 30%;
}
.droite{
    margin-top: 30px;
}
.champs{
    height: 400px;
    width: 150px;
}
.bas{
    background-color:#a1a1a1e5;
    height: 200px;

}
.textPied{
    float: left;
    width: 70%;
    margin: 20px auto;
}
.centrage{
    margin:0 auto;
    width: 70%;
}
.logoChat{
    float: right;
    height: 100px;
    width: 100px;
}
.logoChat img{
    width: 100%;
    background-color: blue
}
.clearFix{
    clear: both;
}
.footer{
    background-color: blue;
    height:50px;
    width: 100%;
}